<br />
<br />
<br />
<br />

<div class="col-md-4 col-md-offset-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Home#show</h1>
    </div>
    <div class="panel-body">
      <p>Find me in app/views/home/show.html.erb</p>
    </div>
  </div>
</div>
<br />

<div class="col-md-4 col-md-offset-4">
  <h3> Omniauth Hash: </h3>

<%= user_hash.to_s %>




</div>
